.categorias {
    @extend .container;
    padding: {
        top: 3rem;
        bottom: 3rem;
    }

    .title {
        display: table;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        @extend .h1;
    }

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        .item {
            width: 20%;
            min-width: 200px;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: $dark-blue;
            box-shadow: 0 0 20px rgba($dark-blue, 0.075);
            border-radius: 8px;
            transition: 0.2s;
            padding: 1rem;
            margin-bottom: 1rem;

            &:hover {
                box-shadow: 0 0 20px rgba($dark-blue, 0.2);
            }

            .subtitle {
                margin-top: 0.5rem;
            }
        }
    }
}
