$font: "Open Sans", sans-serif;
$dark-blue: #163869;
$blue: #1983DE;
$light-blue: #D3EBFF;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    font: 400 16px $font;

    @media screen and (max-width: 400px) {
        font-size: 14px;
    }
}

html,
body {
    scroll-behavior: smooth;
}

button,
.button,
input[type="submit"] {
    outline: none;
    cursor: pointer;
    border: none;
}

select,
option {
    cursor: pointer;
}

img,
video {
    max-width: 100%;
    height: auto;
}

fieldset {
    border: none;
}

strong,
b {
    font-weight: 700;
}

h1,
.h1 {
    font: 700 2rem $font;
}

h2,
.h2 {
    font: 700 1.25rem $font;
}

h3,
.h3 {
    font: 700 1.125rem $font;
}

h4,
.h4 {
    font: 400 1rem $font;
}

.container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
